body
{
    background-image: url("./xyz.svg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}  
h1{
    color:rgba(228, 9, 9, 0.89);
    text-align: center;
    font-size: 70px;
}

h2
{
    color:rgb(187, 47, 5);
    text-align: center;
    margin-top: 4%;
    font-size: 30px;
}

h3
{
    color:white;
    font-size: 20px;
}

h4
{
    color: black;
    font-size: 20px;
    text-align: center;
}

.options
{
    width: 40%;
    height: auto;
    margin: auto;
    display: flex;
    margin-top: 2%;
    
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #0e0606;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px 20px 10px 20px;
    border: solid #070f14 4px;
    text-decoration: none;
    margin: 10px;
  }
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}  

.values
{
    width: 40%;
    height: auto;
    display: flex;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 3%;
    padding-right: 4.7%;
    margin: auto;

}

.counter
{
    text-align: center;
    margin: auto;
    font-size: 25px;
    color: yellow;
}

.connection
{
    height: auto;
    display: flex;
    margin: auto;
    text-align: center;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    padding-right: 4.7%;
}

.d2d
{
    margin: auto;
    display: inline-block;
    width: 60%;
}

.con {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: -50px 0px 0px rgba(66,66,66,.0);
    margin-bottom: 2px;
}
.con:focus {
    outline:none;
}

.make_connection {
    background: #e61953;
    background-image: -webkit-linear-gradient(top, #e61953, #e03e16);
    background-image: -moz-linear-gradient(top, #e61953, #e03e16);
    background-image: -ms-linear-gradient(top, #e61953, #e03e16);
    background-image: -o-linear-gradient(top, #e61953, #e03e16);
    background-image: linear-gradient(to bottom, #e61953, #e03e16);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    border: solid #070f14 4px;
    text-decoration: none;
  }
  
  .make_connection:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

#CD
{
    padding-top: 7%;
    background-color: inherit;
    margin: auto;
    display: flex;
    width: 40%;
}

#CD_button
{
    text-align: center;
    background-color: rgb(34, 34, 151);
    color: whitesmoke;
    border: 1;
    border-color: lightseagreen;
    text-align: center;
    transition-duration: 0.3s;
    border-radius: 5px;
    margin: auto;
    font-size: 18px;
    max-width: fit-content;
    padding-top: 2%;
    padding-bottom: 2%;
}

#CD_button:hover
{
    color: white;
    animation: ease-out;
    border-radius: 3%;
    border-color: red;
}

.reset
{
    padding-top: 2%;
    padding-bottom: 1%;
    background-color:inherit;
    margin: auto;
    display: flex;
    width: 70%;
}

#reset_button
{
    text-align: center;
    background-color: rgb(243, 239, 24);
    color: rgb(10, 9, 9);
    border: 1;
    border-color: rgb(61, 47, 187);
    text-align: center;
    transition-duration: 0.3s;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bolder;
    width: 5%;
    min-width: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
    max-height:fit-content;
    float:right;
    position: absolute;
    top: 1%;
    right: 1%;
}

#reset_button:hover
{
    background-color: rgb(70, 241, 190);
    color: rgb(12, 2, 2);
    animation: ease-out;
    border-radius: 8px;
    border-color: red;
}

.fc_text
{
    color: rgb(197, 102, 13);
    font-weight: bolder;
    font-size: 20px;
}

.radio_button
{
    margin-left: 7%;
}

.send
{
    margin-left: 7%;
    margin-top: 1%;
    width: 3.5%;
    min-width: fit-content;
    background-color:rgb(64, 230, 64);
    border-color: rgb(3, 19, 18);
    font-size: 25px;
    font-weight: bold;
    min-height: fit-content;
    color: rgb(8, 4, 0);
    border-radius: 5px;
}

.log
{
    float: right;
    display: inline;
    background-color: white;
    height: 400px;
    width: 25%;
    overflow: scroll;
    word-wrap: break-word;
    padding-left: 1%;
    padding-right: 1%;
}

.send:hover
{
    background-color: rgb(187, 194, 226);
}

*
{
    font-family: 'Times New Roman', Times, serif;
}